<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.gallery.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.gallery.isCurrentUserOwner || vm.authentication.user.roles.indexOf('admin')>-1">
    <a class="btn btn-primary"
       data-ui-sref="galleries.edit({ galleryId: vm.gallery._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <div>
      imageTitle : {{vm.gallery.imageTitle}}
      <br>
      imageSource : {{vm.gallery.imageSource}}
      <br>
      eventLink : {{vm.gallery.eventLink}}
      <br>
      imageDescription : {{vm.gallery.imageDescription}}
      <br>
      <img ng-src="{{vm.gallery.imageSource}}"
    </div>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.gallery.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.gallery.user"
            data-ng-bind="vm.gallery.user.displayName"></span>
      <span data-ng-if="!vm.gallery.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.gallery.content"></p>
</section>
